<html>
  <head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9598520294213293"
     crossorigin="anonymous"></script>
  </head>
</html>
{%- assign posts = paginator.posts | default: site.posts -%}
{% for post in posts %}
{% if post.sticky %}
  <article>
    {% include meta.html post=post preview=true %}
    {{ post.excerpt }}
    <!--<div class="more"><a href="{{ post.url | relative_url }}">read more</a></div>!-->
  </article>
  {% endif %}
{% endfor %}
{% for post in posts %}
{% unless post.sticky %}
  <article>
    {% include meta.html post=post preview=false %}
    {{ post.content}}
    <!--<div class="more"><a href="{{ post.url | relative_url }}">continue reading</a>!-->
  </article>
  {% endunless %}
{% endfor %}

{% if paginator.total_pages > 1 %}
  <footer>
    {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | relative_url }}">« newer posts</a>{% else %}<span></span>{% endif %}
    <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}<a href="{{ paginator.next_page_path | relative_url }}">older posts »</a>{% else %}<span></span>{% endif %}
  </footer>
{% endif %}
